@using Killer_App.Helpers
@{
    ViewBag.Title = "Index";
}

<h2>Most Popular Songs on @DateTime.Now.DayOfWeek</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Album(s)</th>
        <th>Artists</th>
        <th>Duration</th>
    </tr>
    </thead>
    <tbody>
    @if (ViewBag.Songs != null)
    {
        foreach (Song song in ViewBag.Songs)
        {
            <tr>
                <td>
                    @song.Name
                </td>
                <td>
                    @string.Join(", ", song.Albums.Select(x => x.Name))
                </td>
                <td>
                    @string.Join(", ", song.Artists.Select(x => x.UserName))
                </td>
                <td>
                    @song.Duration.ToString(@"mm\:ss")
                </td>
            </tr>
        }
    }
    </tbody>

</table>