@model Killer_App.Models.Home.IndexModel

@{
    ViewBag.Title = "Index";
}

<h2>Most Popular Songs on @DateTime.Now.DayOfWeek</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Album(s)</th>
        <th>Artists</th>
        <th>Duration</th>
    </tr>
    </thead>
    <tbody>
    @if (Model.TopSongs != null)
    {
        foreach (var song in Model.TopSongs)
        {
            <tr>
                <td>
                    @Html.Raw(song)
                </td>
                <td>
                    @Html.Raw(string.Join(", ", song.Albums))
                </td>
                <td>
                    @Html.Raw(string.Join(", ", song.Artists))
                </td>
                <td>
                    @Html.Raw(song.Duration.ToString(@"mm\:ss"))
                </td>
            </tr>
        }
    }
    </tbody>

</table>