@using System.Web.Mvc.Html
@model Killer_App.Helpers.Objects.Album

@{
    ViewBag.Title = "Album";
}

<h2>@Model.Name</h2>

<h4>Artists</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Albums</th>
            <th>Songs</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Artists != null)
    {
        foreach (var artist in Model.Artists)
        {
            <tr>
                <td>
                    @Html.ActionLink(artist.FullName, "Artist", new {Id = artist.ArtistId})
                </td>
                <td>
                    @{
                        var albums = string.Join(", ", artist.Albums.Select(album => @Html.ActionLink(album.Name, "Album", new {album.Id})));
                    }

                    @Html.Raw(albums)
                </td>
                <td>
                    @{ var songs = string.Join(", ", artist.Songs.Select(song => @Html.ActionLink(song.Name, "Song", new {song.Id}))); }
                    @Html.Raw(songs)
                </td>
            </tr>
        }
    }
    </tbody>
</table>

<h4>Songs</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Albums</th>
            <th>Artists</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Songs != null)
    {
        foreach (var song in Model.Songs)
        {
            <tr>
                <td>
                    @Html.ActionLink(song.Name, "Song", new {song.Id})
                </td>
                <td>
                    @{ var albums = string.Join(", ", song.Albums.Select(album => @Html.ActionLink(@album.Name, "Album", new { album.Id }))); }
                    @Html.Raw(albums)
                </td>
                <td>
                    @{ var artists = string.Join(", ", song.Artists.Select(artist => @Html.ActionLink(artist.FullName, "Artist", new { Id = artist.ArtistId }))); }
                    @Html.Raw(artists)
                </td>
                <td>
                    @song.Duration
                </td>
            </tr>
        }
    }
    </tbody>
</table>