@model Killer_App.Models.Info.InfoModel

@{
    ViewBag.Title = "Artist";
}

<h2>@Model.Artist.FullName</h2>

@* TODO: Info here *@

@if (Model.ArtistInfo?.Artist != null)
{
    <img src="@(Model.ArtistInfo.Artist.Images.First(x => x.Size=="large").Text)" alt="@Model.Artist.ArtistName" />
    @:Tags : @string.Join(", ", Model.ArtistInfo.Artist.Tags.Tag.Select(x => x.Name));
}

<br/>

@Html.Raw(Model.ArtistInfo?.Artist?.Bio.Content)

<br/>

<br/><br/>

@(Model.ArtistInfo?.Artist?.Stats.Listeners ?? "0") listeners and @(Model.ArtistInfo?.Artist?.Stats.Playcount ?? "0") plays.

<h4>Songs</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Albums</th>
            <th>Artists</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Artist.Songs != null)
        {
            foreach (var song in Model.Artist.Songs)
            {
                <tr>
                    <td>
                        @Html.Raw(song.LinkString())
                    </td>
                    <td>
                        @Html.Raw(string.Join(", ", song.Albums.Select(x => x.LinkString())))
                    </td>
                    <td>
                        @Html.Raw(string.Join(", ", song.Artists.Select(x => x.LinkString())))
                    </td>
                    <td>
                        @song.Duration.ToString(@"mm\:ss")
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h4>Albums</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Artists</th>
            <th>Songs</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Artist.Albums != null)
        {
            foreach (var album in Model.Artist.Albums)
            {
                <tr>
                    <td>
                        @Html.Raw(album.LinkString())
                    </td>
                    <td>
                        @Html.Raw(string.Join(", ", album.Artists.Select(x => x.LinkString())))
                    </td>
                    <td>
                        @Html.Raw(string.Join(", ", album.Songs.Select(x => x.LinkString())))
                    </td>
                </tr>
            }
        }
    </tbody>
</table>