@using System.Web.Mvc.Html
@model Killer_App.Helpers.Objects.Song

@{
    ViewBag.Title = "Song";
}

<h2>@Model.Name</h2>

<h4>Artists</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Albums</th>
            <th>Songs</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Artists != null)
        {
            foreach (var artist in Model.Artists)
            {
            <tr>
                <td>
                    @Html.ActionLink(artist.FullName, "Artist", new {Id = artist.ArtistId})
                </td>
                <td>
                    @{
                        var albums = string.Join(", ", artist.Albums.Select(album => @Html.ActionLink(album.Name, "Album", new {album.Id})));
                    }

                    @Html.Raw(albums)
                </td>
                <td>
                    @{ var songs = string.Join(", ", artist.Songs.Select(song => @Html.ActionLink(song.Name, "Song", new {song.Id}))); }
                    @Html.Raw(songs)
                </td>
            </tr>
            }
        }
    </tbody>
</table>

<h4>Albums</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Artists</th>
            <th>Songs</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Albums != null)
        {
            foreach (var album in Model.Albums)
            {
            <tr>
                <td>
                    @Html.ActionLink(album.Name, "Album", new {album.Id})
                </td>
                <td>
                    @{ var artists = string.Join(", ", album.Artists.Select(artist => @Html.ActionLink(artist.FullName, "Artist", new { Id = artist.ArtistId}))); }
                    @Html.Raw(artists)
                </td>
                <td>
                    @{ var songs = string.Join(", ", album.Songs.Select(song => @Html.ActionLink(song.Name, "Song", new {song.Id}))); }
                    @Html.Raw(songs)
                </td>
            </tr>
            }
        }
    </tbody>
</table>